body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 255, 255, 0.1);
}

button {
  position: relative;
  width: 400px;
  height: 100px;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 2px solid rgb(17, 113, 168);
  color: rgb(182, 255, 255);
  cursor: pointer;
  overflow: hidden;
  transition: 1s;
}

button:hover {
  border: 2px solid rgb(122, 5, 255);
}

button::after {
  position: absolute;
  font: 500 2rem "Fira Code";
  content: "CLIQUE AQUI";
  transition: all 1s;
}

button:hover::after {
  content: "PARA + INFO";
}

button:last-child:hover::after {
  content: "SE GOSTOU";
}

button::before {
  content: "";
  position: absolute;
  top: -50%;
  height: 0;
  width: 0;
  border-radius: 50%;
  background-color: rgb(85, 74, 187);
  transition: 1s;
}

button:last-child::before {
  top: 0;
  left: -10%;
  height: 100%;
  border-radius: 3rem;
}

button:hover::before {
  height: 200%;
  width: 120%;
}

button:last-child:hover::before {
  height: 100%;
  width: 120%;
}
