body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li {
  position: absolute;
  list-style: none;
  width: 75px;
  height: 75px;
  margin: 10px;
  transition: 0.5s;
  background-color: #ccc;
  border-radius: 5%;
}

ul:hover li:nth-child(7) {
  transform: translate(-15rem, 0);
}

ul:hover li:nth-child(6) {
  transform: translate(-10rem, 0);
}

ul:hover li:nth-child(5) {
  transform: translate(-5rem, 0);
}

ul:hover li:nth-child(3) {
  transform: translate(5rem, 0px);
}

ul:hover li:nth-child(2) {
  transform: translate(10rem, 0);
}

ul:hover li:nth-child(1) {
  transform: translate(15rem, 0);
}

ul li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transition: 0.5s;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px !important;
  border-radius: 5%;
}

ul li:hover span {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1); /*Fará uma leve sombra em cima dos ícones*/
}

ul li:hover span:nth-child(5) {
  transform: translate(10px, -20px);
  opacity: 1;
}
ul li:hover span:nth-child(4) {
  transform: translate(7px, -15px);
  opacity: 0.8;
}

ul li:hover span:nth-child(3) {
  transform: translate(5px, -10px);
  opacity: 0.6;
}

ul li:hover span:nth-child(2) {
  transform: translate(2px, -5px);
  opacity: 0.4;
}
ul li:hover span:nth-child(1) {
  opacity: 0.2;
}

/*COLORS */

ul li:nth-child(1) span {
  background: #3b5999;
}

ul li:nth-child(2) span {
  background: #55acee;
}

ul li:nth-child(3) span {
  background: #dd4b39;
}

ul li:nth-child(4) span {
  background: #0077b5;
}

ul li:nth-child(5) span {
  background: #e4405f;
}

ul li:nth-child(6) span {
  background: #000000;
}

ul li:nth-child(7) span {
  background: #001935;
}

footer p {
  position: absolute;
  bottom: 40px;
  left: 70%;
  font: 700 15px Lato;
  color: #353333;
}
