body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  position: relative;
  font-size: 5rem;
  color: rgba(9, 62, 161, 0.466);
  overflow: hidden;
}

span::before {
  content: "THIS IS AWESOME!";
  color: rgb(9, 62, 161);
  width: 0;
  position: absolute;
  overflow: hidden;
  transition: 0.1s;
}

span:hover::before {
  width: 100%;
}
