body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(106, 212, 177, 0.5);
}

span {
  font: 500 4rem "Fira Code";
}

span::after {
  content: "";
  animation: switch 3s linear infinite;
}

@keyframes switch {
  from {
    content: ">= 30 DIAS <=";
  }
  to {
    content: ">= DE CSS <=";
  }
}
